@media screen and (max-width:850px) {
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        height: 3vh;
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 10px 20px;
    }
    .slider{
        height: 20vh;
    }
}