.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    
}
.btn:hover{
    padding: 6px 12px;
    font-weight: 900;
}
.my-1{
    margin: 13px 0;
}
.my-2{
    margin: 20px 0px;
}
.text-center{
    text-align: center;
}